/.Collector.java._trace
/.ErrorPin.java._trace
/.OutputPin.java._trace
/.Reverse.java._trace
/.RunFlow.java._trace
/.ToLower.java._trace
/.ToUpper.java._trace
/Collector.java
/OutputPin.java
/Reverse.java
/RunFlow.java
/ToLower.java
/ToUpper.java
/.OutputPinEx.java._trace
